.cities{
    width: 100%;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.cities>h1{
    font-size: 2rem;
    color: #161515;
    font-weight: normal;

    span{
        font-size: 2.5rem;
        font-weight: 500;
    }
}

.cityContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
.city{
   width: 350px;
   min-width: 200px; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 10px;
   border: 1px solid lightgray;
   border-radius: 5px;
   cursor: pointer;
   background-color: white;
}
.city:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

.cityleft{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cityleft>h3{
    font-size: 20px;
    letter-spacing: .05rem;
    font-weight: normal;
}

