.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 50px 200px;
}
.cardImg{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .4s ease;
}
.cardImg:hover{
    transform: scale(1.02);
}
.cardImg>img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.cardImg>h1{
    font-size: 1.5rem;
    color: black;
    font-weight: normal;
    padding: 10px;
}
.cardImg>span{
    font-size: 1.1rem;
    color: gray;
    font-weight: normal;
    padding: 10px;
}